<app-main-container>
  <app-page-header page-name="Lançamentos" page-description="Gerencie seus lançamentos"/>

  <app-search-bar placeholder="Buscar lançamentos pela descrição..." filterLabel="Todas as categorias"
                  addButtonLabel="+ Novo Lançamento" (search)="onSearch($event)" (add)="onNewTransaction()"
                  [showFilter]="true"></app-search-bar>

  <app-summary-cards-container>
    <app-summary-card label-text="Total recebido" material-icon-name="trending_up" [amount]="totalReceive"
                      color="green"/>
    <app-summary-card label-text="Total pago" material-icon-name="trending_down" [amount]="totalPaid" color="orange"/>
    <app-summary-card label-text="Total pendente" material-icon-name="warning" [amount]="totalPending" color="yellow"/>
    <app-summary-card label-text="Balanço atual" [material-icon-name]="balance >= 0 ? 'attach_money' : 'money_off' "
                      [amount]="balance" [color]="balance >= 0 ? 'green' : 'red'"/>

  </app-summary-cards-container>

  <app-transactions-list [items]="filteredTransactions" (edit)="onEditTransaction($event)"
                         (toggleStatus)="onToggleStatus($event)"
                         (remove)="onDeleteTransaction($event)"></app-transactions-list>

</app-main-container>
