<mat-toolbar class="header">
  <div class="header-content">
    <div class="header-left">
      <h1 class="logo">JPay</h1>
      <nav class="nav-links">
        <a mat-button routerLink="/dashboard" routerLinkActive="active" >Dashboard</a>
        <a mat-button routerLink="/categories" routerLinkActive="active">Categorias</a>
        <a mat-button routerLink="/bank-accounts" routerLinkActive="active">Contas Bancárias</a>
        <a mat-button routerLink="/transactions" routerLinkActive="active">Lançamentos</a>
      </nav>
    </div>
    <button mat-button class="header-right" (click)="login()">
    <mat-icon>account_circle</mat-icon>
     <p>Perfil</p>
    </button>
  </div>
</mat-toolbar>
