<app-main-container>
  <app-page-header page-name="Categorias" page-description="Gerencie as categorias das suas contas"/>
  <app-search-bar placeholder="Buscar categorias pelo nome..." filterLabel="Todas as categorias"
                  [showInactiveFilter]="true" [active]="showInactive"
                  (checkboxChange)="onCheckedActive($event)"
                  addButtonLabel="+ Nova Categoria" (search)="onSearch($event)" (add)="onNewCategory()"
                  [showFilter]="true"/>
  <app-summary-cards-container>
    <app-summary-card label-text="Total de Categorias" material-icon-name="label"
                      [quantity]="totalCategories().toString()" color="yellow"/>
    <app-summary-card label-text="Categorias Ativas" material-icon-name="visibility"
                      [quantity]="totalActiveCategories().toString()" color="green"/>
    <app-summary-card label-text="Categoria mais utilizada" material-icon-name="stars" [name]="mostUsedCategorie()  "
                      color="purple"/>

  </app-summary-cards-container>

  <app-categories-list [items]="getCategories" (edit)="onEditCategory($event)" (toggle)="onToggleStatus($event)"
                       (remove)="onDeleteCategory($event)"/>
</app-main-container>
