<app-main-container>
  <app-page-header page-name="Contas Bancárias" page-description="Gerencie suas contas bancárias"/>

  <app-search-bar placeholder="Buscar contas bancárias pelo nome ou banco..." filterLabel="Todos os bancos"
                  addButtonLabel="+ Nova Conta Bancária" [showInactiveFilter]="true" [active]="showInactive"
                  (checkboxChange)="onCheckedActive($event)" (search)="onSearch($event)" (add)="onNewBankAccount()"
                  [showFilter]="true"/>

  <app-summary-cards-container>
    <app-summary-card label-text="Conta mais utilizada" material-icon-name="star" [name]="mostUsed().name + ' | ' + (mostUsed().transactions?.length ?? 0) + ' lançamentos'"
                      color="purple"/>
    <app-summary-card label-text="Conta mais Valiosa" material-icon-name="wallet" [name]="mvp().name"
                      color="green"/>
    <app-summary-card label-text="Quantidade de contas" [material-icon-name]="'filter_'+totalQuantity().toString()" [name]="totalQuantity().toString()" color="blue"/>
  </app-summary-cards-container>

  <app-bank-accounts-list [items]="getAccounts" (edit)="onEditBankAccount($event)" (toggle)="onToggleStatus($event)"
                          (remove)="onDeleteBankAccount($event)"/>
</app-main-container>
