<h2 mat-dialog-title>
  {{ data.mode === 'create' ? 'Nova Conta Bancária' : 'Editar Conta Bancária' }}
</h2>

<form [formGroup]="form" class="dialog-form" (ngSubmit)="save()">
  <mat-form-field appearance="outline" class="full">
    <mat-label>Nome</mat-label>
    <input matInput formControlName="name" maxlength="100" required />
    <mat-hint align="end">{{ form.get('name')?.value?.length || 0 }}/100</mat-hint>

    @if (form.get('name')?.hasError('required') && (form.get('name')?.dirty || form.get('name')?.touched)) {
      <mat-error>O nome da conta bancária é obrigatória.</mat-error>
    }
    @if (form.get('name')?.hasError('maxlength')) {
      <mat-error>Máximo de 100 caracteres.</mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="outline" class="full">
    <mat-label>Banco</mat-label>
    <input matInput formControlName="bank" maxlength="100" required />
    <mat-hint align="end">{{ form.get('bank')?.value?.length || 0 }}/100</mat-hint>

    @if (form.get('bank')?.hasError('required') && (form.get('bank')?.dirty || form.get('bank')?.touched)) {
      <mat-error>O nome do banco é obrigatório.</mat-error>
    }
    @if (form.get('bank')?.hasError('maxlength')) {
      <mat-error>Máximo de 100 caracteres.</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="full">
    <mat-label>Saldo Inicial</mat-label>
    <input matInput type="number" formControlName="currentBalance" step="0.01" />
    @if (form.get('currentBalance')?.hasError('min')) {
      <mat-error>O saldo não pode ser negativo.</mat-error>
    }
  </mat-form-field>

  <div class="actions">
    <button mat-button type="button" (click)="close()">Cancelar</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">
      {{ data.mode === 'create' ? 'Adicionar' : 'Salvar' }}
    </button>
  </div>
</form>
