 <mat-card class="summary-card" [class]="color+'-card'">
    <mat-card-content>
      <div class="card-content">
        <div class="card-icon">
          <mat-icon>{{materialIconName}}</mat-icon>
        </div>
        <div class="card-info">
          <p class="card-label">{{labelText}}</p>
          @if(name != undefined && name != "") {
            <p class="card-value">{{name}}</p>
          }
          @else if(quantity != undefined && quantity != "") {
            <p class="card-value">{{quantity}}</p>
          } @else if(amount != undefined && amount != null && amount > 0) {
            <p class="card-value">{{ formatCurrency(amount) }}</p>
          }
        </div>
      </div>
    </mat-card-content>
</mat-card>
