<app-main-container>

  <app-page-header page-name="Dashboard" page-description="Visão geral das suas finanças"></app-page-header>
  <app-summary-cards-container>
    <app-summary-card color="blue" label-text="Saldo total das contas" material-icon-name="payment"
                      [amount]="currentTotalBalance"/>

    <app-summary-card color="green" label-text="Total Receitas" material-icon-name="attach_money"
                      [amount]="totalAmountIn"/>

    <app-summary-card color="red" label-text="Total Despesas" material-icon-name="warning" [amount]="totalAmountOut"/>

  </app-summary-cards-container>

  <div class="dashboard-content">
    <mat-card class="chart-card">
      <mat-card-header>
        <mat-card-title>Gastos por Categoria</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="chart-container">
          <ngx-charts-pie-chart
            [results]="categories"
            [view]="[400, 300]"
            [legend]="false"
            [labels]="true"
            [doughnut]="true"
            [arcWidth]="0.4"
            [gradient]="false"
            [tooltipDisabled]="false">
          </ngx-charts-pie-chart>
        </div>
        <div class="chart-legend">
          <div class="legend-item" *ngFor="let item of categories">
            <div class="legend-color"></div>
            <span class="legend-name">{{ item.name }}</span>
            <span class="legend-value">{{ formatCurrency(item.value) }}</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="recent-accounts-card">
      <mat-card-header>
        <mat-card-subtitle>
          <button matButton (click)="onViewAllAccounts()">Ver todas</button>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="accounts-list">
          @if (recentTransactions.length === 0) {
            <p class="accounts-list-empty">Sem vencimentos</p>
          }
          @for (transaction of recentTransactions; track transaction.id) {
            <div class="account-item" (click)="onOpenTransaction(transaction)">
              <div class="account-info">
                <h4>{{ transaction.description }}</h4>
                <p>{{ transaction.category.name }} • Vencimento em {{ formatDate(transaction.expirationDate) }}</p>
              </div>
              <div class="account-details">
                <p class="account-amount">{{ formatCurrency(transaction.amount) }}</p>
                <mat-chip
                  [style.background-color]="getStatusColor(transaction.status)"
                  class="status-chip">
                  {{ getStatusText(transaction.status) }}
                </mat-chip>
              </div>
            </div>
          }
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</app-main-container>
