.main-container {
  max-width: 1720px;
  margin: 0 auto;
  padding: 24px 16px;
  min-height: calc(100vh - 64px);
  background-color: #fafafa;
}


@media (max-width: 768px) {
  .main-container {
    padding: 16px 12px;
  }
}
