.main-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 24px 16px;
  min-height: calc(100vh - 64px);
  background-color: rgba(107, 114, 128, 0.24)
}


@media (max-width: 768px) {
  .main-container {
    padding: 16px 12px;
  }
}

